//                          medium
@media (min-width: 992px){
    .fourth-section-row{
        p{
            text-align: left;
        }
        h2{
            text-align: left;
        }
        .txt-center{
            align-items:flex-start;
            margin-top: 0;
            order: 2;
        }
        .fourth-section-photo{
            order: 1;
        }
    }
    
   
}
//                          lagre
@media (min-width: 1200px){
    .second-section-row{
        .second-section-txt{
            text-align: right;
        
            p{
                text-align: right;
            }
        }
    }
    .third-section-second-row{
        .carousel-item-color{
            padding: 40px;
        }
        
    }
   
}